body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: auto;
    width: auto;
}

.card-header,
.card-footer {
    padding: 10px 25px;
}

.card-container {
    padding: 25px;
}

    .card-container:after,
    .card-container:before {
        content: "";
        display: table;
        clear: both;
    }

.card,
.card-shadow-light {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-shadow-heavy {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}