@using FilmHaus.Localization
@{
    ViewBag.Title = Locale.FilmHaus;
}

<!-- Marketing Messages & Featurettes -->
<div class="container">
    <!-- Featurettes -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2>@Locale.FeatureFilmTagline</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image-large img-responsive center-block" alt="Movie Countdown Timer" src="~/Images/18db9a4cbf129b80974088797eafe9c5.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2>@Locale.FeatureListTagline</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image-large img-responsive center-block" alt="Check List" src="~/Images/10ae9fc7d453b0dd525d0edf2ede7961.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2>@Locale.FeatureReviewTagline</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image-large img-responsive center-block" alt="Typing at a Computer" src="~/Images/94acf9fef510cbffa0074c1525d0345f.jpg">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- End Featurettes -->
    <hr class="featurette-divider">
    <footer>
        <p>&copy; 2017 @Locale.FilmHaus</p>
    </footer>
</div>