<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/83958810-c52f-417d-91e7-c23e616e42ca/resourcegroups/FilmHaus/providers/Microsoft.Web/sites/FilmHaus</ResourceId>
    <ResourceGroup>FilmHaus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://filmhaus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>filmhaus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FilmHaus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>FilmHaus</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:filmhausdbserver.database.windows.net,1433;Initial Catalog=filmhaus_db;User ID=filmhaus@filmhausdbserver;Password=Mohawk_123" Name="Data Source=tcp:filmhausdbserver.database.windows.net,1433;Initial Catalog=filmhaus_db;User Id=filmhaus@filmhausdbserver;Password=Mohawk_123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FilmHaus.Models.FilmHausDbContext, FilmHaus" MigrationConfiguration="FilmHaus.Migrations.Configuration, FilmHaus" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:filmhausdbserver.database.windows.net,1433;Initial Catalog=filmhaus_db;User Id=filmhaus@filmhausdbserver;Password=Mohawk_123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>